body {
  background-color: grey;
}


#navigation-and-title {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1000;
}

#navigation-and-title nav {
  display: flex;
  gap: 10px;
}

#navigation-and-title > h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  flex-grow: 1;
  max-width: 80%;
  margin: 0 10%;
  margin-left: 34.5%;
 
  display: flex;

}

#national-dex h2 {
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

/* .page-title {
  margin-top: 100px;
} */

#pokemon151 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pokemon151 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-image: url('./images/pokeball3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 150px;
  padding: 10px;
  position: relative;
}


#pokemon151 > div > h3 {
  color: white;
}





#selected-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  margin-top: 75px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(48, 48, 48);
  max-width: 900px;
  height: 1040px;
  border: 5px solid black;
  position: relative; /* Ensure relative positioning for stacking context */
  z-index: 11; /* Set a higher stacking order for the main content */
}

.left-margin-image,
.right-margin-image {
  position: absolute;
  top: 50%; /* Center vertically relative to #selected-pokemon */
  transform: translateY(-50%);
  width: 100px; /* Adjust size as needed */
  height: auto;
  z-index: 10; /* Lower stacking order for images to appear behind */
  
    /* Creates a colored outline */
    cursor: default;
}

.left-margin-image {
  left: -20px; /* Adjust for spacing from the #selected-pokemon element */
  width: 800px;
  z-index: 4;
}

#l2 {
  left: -350px; /* Adjust for spacing from the #selected-pokemon element */
  width: 1500px;
  z-index: 3;
}
#l3 {
  left: -1200px; /* Adjust for spacing from the #selected-pokemon element */
  width: 3500px;
  z-index: 2;
}
#l4 {
  left: -2800px; /* Adjust for spacing from the #selected-pokemon element */
  
  width: 7000px;
  
  z-index: 1;
}

#background-pokeball {
  left: -300px; /* Adjust for spacing from the #selected-pokemon element */
  width: 2500px;
  
  z-index: 0;
  
}


.right-margin-image {
  right: -425px; /* Adjust for spacing from the #selected-pokemon element */
  width: 800px;
  z-index: 4;
}

#r2 {
  right: -795px; /* Adjust for spacing from the #selected-pokemon element */
  width: 1500px;
  z-index: 3;
}
#r3 {
  right: -1940px; /* Adjust for spacing from the #selected-pokemon element */
  width: 3500px;
  z-index: 2;
}
#r4 {
  left: -1400px; /* Adjust for spacing from the #selected-pokemon element */
  
  width: 7000px;
  
  z-index: 1;
}

#poke-entry {
  font-family: Didot, serif;
}


/* #selected-pokemon h2 {
  color: black;
  text-align: center;
} */

/* #selected-pokemon > .poke-images {
  flex-direction: row;
  background-color: black;
  display: inline-block;
  width: 500px;
  height: 390px;
  text-align: center;
} */

/* #selected-pokemon-details > .poke-images img {
  display: flex;
  flex-direction: column;
  cursor: default;
  width: 200px;
  height: 200px;
  margin-right: -100px;
  text-align: center;
} */

#selected-pokemon-details img {
  cursor: default;
  width: 150px;
}



#selected-pokemon-details {
  margin-top: 60px;
  height: 300px;
  width: 700px;
  padding: 50px;
  padding-bottom: 80px;
  color: white;
  background-color: rgb(14, 14, 14);
  border: 10px solid rgb(111, 97, 97);
  text-align: center;
  box-shadow: 0px 0px 100px 1000px rgba(57, 56, 56, 0.5); 
}

#selected-pokemon-details h2 {
  margin-top: 30px;
  color: white;
}

#selected-pokemon-details > .poke-images {
  margin-top: -10px;
  width: 100px;
  text-align: center;
}


#selected-pokemon-interaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* background-color: rgb(48, 48, 48); */
  width: 1000px;
  height: 300px;
  padding: 50px 0;
  padding-top: 50px;
}

#selected-pokemon-interaction > select {
  appearance: none;
  background: url('./images/pokeball2.png') no-repeat right center;
  background-size: 100px;
  height: 140px;
  margin: 10px;
  padding: 8px;
  /* font-size: 14px; */
  color: white;
  border: none;
  /* font-weight: bold;
  text-shadow: 1px 1px 2px black;
  text-align: center; */
}

#selected-pokemon-interaction > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/pokeball3.png');
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 605px;
  height: 120px;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}



#team-members {
  display: flex;
  flex-direction: row;
}

#member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#teamName-and-deleteButton {
  display: flex;
  flex-direction: row;
}

#teamName-and-deleteButton > h3 {
margin-right: 10px;
}

#teamName-and-deleteButton > button {
  padding: 0px 0px;
  height: 40px;
}

button, a, img, select {
  cursor: pointer;
}


nav {
  padding: 10px;
}

/* nav a {
  margin-right: 5px;
} */
